ALTER TABLE work_orders ADD COLUMN payment_status VARCHAR(20) DEFAULT 'unbilled'; ALTER TABLE work_orders ADD COLUMN total_amount DECIMAL(10, 2) DEFAULT 0; ALTER TABLE work_orders ADD COLUMN payment_method VARCHAR(50);
